@charset "utf-8";
/* CSS Document */
a {
	text-decoration:underline; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	color:#000166;
}
a:visited{
	text-decoration:underline; 
}
a:hover {
	text-decoration:none;
}
.borders {
	border:1px #d7deee solid;
}
.buttn {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
	border-right: #926030 1px solid;
	border-bottom: #926030 1px solid;
	border-left: #C29F7C 1px solid;
	border-top: #C29F7C 1px solid;
	background-image: url(pages/framework/images/buttons/buttonbg.jpg);
	background-repeat: repeat-x;
	cursor: pointer;
	height: 20px;
	margin-right:20px;
}
.container {
	float:left;
	width:100%;
	height:100%;
}
.marginTop15{
    margin-top:15px;
}
.leftMargin180 {
	margin-left:190px;
}
.marginAuto{
	margin:auto;
}

.marginRight180{
    margin-right:180px;
}
.marginLeft30{
	margin-left:20px;
}

.marginLeft15em{
	margin-left:15em;
}

.marginLeft5{
	margin-left:5px;
}

.marginLeft15{
	margin-left:15px;
}

.marginLeft12em{
	margin-left:12em;
}
.content {
    padding-left:10px;
    padding-top: 5px;;
	text-decoration:none;
	color:#000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}
.paddingTop5{
padding-top:5px;
}
.subcontent {
	padding-top: 35px;
	padding-bottom:10px;
	margin-left:20px;
	text-decoration:none;
	color:#000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}
.font16{
	font-size:16px;
}
.font15{
	font-size:15px;
}
.font14{
	font-size:14px;
}
.orangeheading {
	text-decoration:none;
	color:#CC6601;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size:11pt;	
}
.silverheading {
	text-decoration:none;
	color:#c6c6c6;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}
.lightorange{
	color:#ffa500;
}
.logo {
	float:left;
	width:200px;
	height:70px;
	position:absolute;	
	left:0;
	clear:right;
}
.orangeline {
	background:#FF9600;
	line-height:6px;
	/*width:1270px;*/
	width:100%;
}
.maindiv {
	margin-top:15px;
	width:630px;
	height:210px;
}
.contentdiv {
	margin:15px;
}
.iframeStyle{
	border:1px solid #666666;
	padding:0px;
	width:1024px;
	height:100%;
}
.bluedivs {
	background-color:#d7deee;
	/*color:#666666;*/
	width:95%;
	padding-top:2px;
    padding-bottom:0;
	color:#000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
.bluediv {
	background-color:#d7deee;
	color:#000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.orangediv {
	background-color:#f0d4a5;
	/*color:#666666;*/
	color:#000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
}
.bluediv span {
	padding:2px 0px 2px 15px;
}
.bluediv #sp {
	padding-left:15px;
	padding-right:0px;
	/*color:#666666;*/
	color:#000000;
}
.LeftDiv {
	float:left;
	height:170px;
	border-right:#d7deee 1px solid;
	vertical-align:bottom;
	padding:10px 10px;
}
.normalFont{
	text-decoration:none; 
	color:#000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}
.borderrt {
	border-right:#d7deee 1px solid;
/*	padding:10px;
*/}
.borderbtm {
    border-bottom:1px solid #D7DEEE;
    margin-bottom:0;
    margin-top:2px;
}
.rightTble {
	width:55%;
}
.rightAlign {
	text-align:right;
}
.floatRT {
	float:right;
}
.floatLT {
	float:left;
	margin-right:75px;
}
.topAlign {
	float:right;
	vertical-align:top;
	z-index:999;
	}
.marginTop93{
	margin-top:93px;
}
.marginTop75{
	margin-top:75px;
}
.marginTop20{
	margin-top:20px;
}
.marginTop10{
	margin-top:10px;
}

.marginTop15{
	margin-top:15px;
}

.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}

.buttn2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
	border-right: #6d6d6d 1px solid;
	border-bottom: #696969 1px solid;
	border-left: #a4a4a4 1px solid;
	border-top: #a2a2a2 1px solid;
	background-image: url(../framework/images/buttons/buttonbgcancel.jpg);
	background-repeat: repeat-x;
	cursor: pointer;
	height: 20px;
}

.cancelbuttn2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
	border-right: #6d6d6d 1px solid;
	border-bottom: #696969 1px solid;
	border-left: #a4a4a4 1px solid;
	border-top: #a2a2a2 1px solid;
	background-image: url(../framework/images/buttons/buttonbgcancel.jpg);
	background-repeat: repeat-x;
	cursor: pointer;
	height: 20px;
    margin-right:34px;
}

.disabledbuttn2
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #C6C6C6;
    border-right: #696969 1px solid;
	border-bottom: #696969 1px solid;
	border-left: #A2A2A2 1px solid;
	border-top: #A2A2A2 1px solid;
    background-image: url(../framework/images/buttons/buttonbgcancel.jpg);
	background-repeat: repeat-x;
    cursor: pointer;
    height: 20px;
    margin-right:34px;
}

.printbuttn{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
	border-right: #6d6d6d 1px solid;
	border-bottom: #696969 1px solid;
	border-left: #a4a4a4 1px solid;
	border-top: #a2a2a2 1px solid;
/*	background-image:#fff url(../framework/images/buttons/buttonbgcancel.jpg);
	background-repeat: repeat-x;*/
	background-color:#FFFFFF;
	cursor: pointer;
	height: 20px;
}
.taborange {
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 6px;
	padding-right: 15px;
	background-color:#FF9600;
	text-decoration:underline;
	color:#FFFFFF;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	/*margin-right:-2px;*/
	
	/*border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;*/
}
.tablightorange {
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom:5px;
	padding-right: 15px;
	background-color:#F2D1A6;
	text-decoration:underline;
	color:#000065;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	margin-right:-2px;
	
/*	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;*/

}
.menu {
	float:left;
	padding-bottom:5px;
	margin-top:50px;
	/*margin-bottom:-1.5px;*/
	margin-left:200px;
	width:650px;
}
.sidebar {
    margin-top:0;
    width:174px;
	background-color:#F2D1A6;
	float:left;
}
.ht550{
	height:550px;
}
.htTotal{
	height:100%;
}
.ht600 {
	height:650px;
}
.ht750 {
	height:750px;
}
.ht950 {
	height:960px;
}
.ht1050 {
	height:1050px;
}
.ht1350 {
	height:1350px;
}
.ht1500 {
	height:1500px;
}
.ht1750 {
	height:1750px;
}
.ht2250 {
	height:2250px;
}
.ht4100 {
	height:4100px;
}
.ht5000{
	height:5000px;
}
.orangetab {
	padding-left: 9px;
	padding-top: 3px;
	padding-bottom: 3px;
	width:166px;
	background-color:#FF9600;
	text-decoration: none;
	color:#FFFFFF;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.ht150 {
	height:150px;
	float:left;
}
.ht120 {
	height:120px;
	margin-top:2px;
	overflow:auto;
}
.leftIMG {
	float:left;
	background:url(../framework/images/smallarrowleft.gif) no-repeat;
	width:11px;
	height:11px;
}
.downIMG {
	float:left;
	background:url(../framework/images/smallarrowdown.gif) no-repeat;
	width:11px;
	height:11px;
}
.topIMG {
	float:left;
	background:url(../framework/images/smallarrowtop.gif) no-repeat;
	width:11px;
	height:11px;
}
.activeIMG {
	background:url(../framework/images/status_activegreen.gif) no-repeat;
	width:8px;
	height:9px;
	padding-left:20px;
}
.arrowIMG {
	margin:3px 10px;
	background:url(../framework/images/timeline/bigarrow.gif) no-repeat;
	width:17px;
	height:17px;
	padding-left:20px;
}
.arrowIMG1 {
	margin:3px 10px;
	background:url(../framework/images/timeline/orangearrow.gif) no-repeat;
	width:17px;
	height:17px;
	padding-left:20px;
	opacity:0.4;filter:alpha(opacity=40);
}
.completeIMG {
	margin:3px 10px;
	background:url(../framework/images/timeline/tick.gif) no-repeat;
	width:17px;
	height:17px;
	padding-left:20px;
	
}
.footer {
	margin-top:2px;
	background-color:#fff;
	color:#999999;
	float:right;
	padding:0;
	border:0;
	vertical-align:baseline;
	height:20px;
	width:100%;
	text-align:center;
}
.footer a {
	text-decoration:none;
}
.paddingLeft {
	padding-left:1px;	
	font-size:9pt;
	margin-bottom:2px;
}
.red { 
	color:#FF0000;
}

.fontBold{
	font-weight:bold;
}
.posRel{
	position:relative;
}
.position{
	position:absolute;
	right:0px;
	bottom:0px;
}
.rolls{
	width:70px;
	height:80px;
}
.listSize{
	min-width:135px;
	height:80px;
}
.marginBottom{
    margin-bottom:10px;
}

.drawtablehd {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
	background-color: #D7DEEE;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D7DEEE;
}

.drawtablerow {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D7DEEE;
}

.definePageMargin{
	margin-left:5em;
}
.inactiveButton{
	color: #C6C6C6;
}
