@CHARSET "UTF-8";

/* Blueprint CSS customizations */
.container 
{
    margin-left: auto;
    margin-right: auto;
    float: none; /* override float defined in maincss.css */
}

.showgrid
{
    background-image: url(grid.png);
}

h1
{
    color: #000000;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 11pt;
    font-weight: bold;
    text-decoration: none;
}

.coaA {
	cursor: pointer;
	text-decoration: none;
}

.coaAction {
	margin-left: 10px;
}