target
*.log
*.log.*
/test-output
test-output
application/src/main/resources/sql/latest-schema_last.sql
.idea/*
*/.idea/*
*.iml
*.xmind
docs/
.resources
*.ipr
*.iws
.DS_Store
!.gitignore
out/*
*.sql
targetEclipse
.metadata/
*/.settings/.jsdtscope
*/.settings/org.eclipse.wst.*
*/.settings/org.hibernate.*

