<?xml version='1.0' encoding='utf-8'?>
<Server port="@TOMCAT_SERVER_PORT@" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Service name="Catalina">
    <Connector port="@TOMCAT_CONNECTOR_PORT@" protocol="HTTP/1.1"
        connectionTimeout="20000" URIEncoding="UTF-8" />
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost"  appBase="webapps"
            unpackWARs="false" autoDeploy="true"
            xmlValidation="false" xmlNamespaceAware="false"/>
    </Engine>
  </Service>
</Server>
