/*
 * Override Datatable CSS here.
 */

@CHARSET "UTF-8";
.datatable 
{
    width: 100%;
}

table {
    border-top:1px #D7DEEE solid;
}

tr.even td {
	vertical-align: top;
    background: white;
    height: 20pt;
    border-bottom:1px #D7DEEE solid;
}

tr.odd td {
	vertical-align: top;
    background: white;
    height: 20pt;
    border-bottom:1px #D7DEEE solid;
}



