<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
      http://www.springframework.org/schema/beans classpath:xsd/spring-beans-3.0.xsd
      http://www.springframework.org/schema/security classpath:xsd/spring-security-3.0.xsd">

	<sec:global-method-security pre-post-annotations="enabled">
		<sec:expression-handler ref="expressionHandler"/>
    </sec:global-method-security>

	<sec:http access-decision-manager-ref="mifosAccessDecisionManager" auto-config="false" use-expressions="true">
		<sec:intercept-url pattern="/**" access="hasRole('ROLE_FULLY_AUTHENTICATED_USER')" />
		<sec:form-login />
	</sec:http>
	
	<bean id="expressionHandler" class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
        <property name="permissionEvaluator" ref="myPermissionEvaluator"/>
  	</bean>

	<bean id="myPermissionEvaluator" class="org.springframework.security.access.expression.method.DenyAllPermissionEvaluator" />

	<bean id="mifosAccessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">
	    <property name="decisionVoters">
	        <list>
	            <bean class="org.springframework.security.access.vote.RoleVoter"/>
	            <bean class="org.mifos.security.authorization.DynamicAuthorizationVoter"/>
	            <bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>
	        </list>
	    </property>
	</bean>

	<sec:authentication-manager alias="authenticationManager">
	    <sec:authentication-provider ref="mifosAuthenticationProvider"/>
	</sec:authentication-manager>
	
  	<bean id="passwordHashing" class="org.mifos.security.authentication.PasswordHashing" />
 	
    <bean id="mifosAuthenticationProvider" class="org.mifos.security.authentication.MifosDaoAuthenticationProvider">
        <property name="userDetailsService" ref="mifosUserService" />
        <constructor-arg ref="passwordHashing" />
    </bean>

    <bean id="mifosUserService" class="org.mifos.security.authentication.AuthenticationDaoHibernate" />
</beans>