@charset "utf-8";
/* CSS Document */
fieldset {
    float: left;
    width: 100%;
    margin: 0 0 1.5em 0;
    padding: 0;
    border: none;
}

fieldset ol {
    padding: 1em 1em 0 1em;
    overflow: hidden;
    list-style: none;
}

fieldset li {
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 1em;
}


fieldset.submit {
    width: auto;
    border: 0 none #FFF;
    padding-left: 15em;
}

fieldset label {
    float: left;
    width: 12em;
    margin-right: 1em;
    text-align: right;
    word-wrap:break-word;
}
fieldset.right_section {
    margin: 0;
}
fieldset.right_section label{
    text-align: left;
    width: auto;
}
fieldset .questionList input {
    float: left;
}
fieldset .questionList label {
    text-align: left;
    width: 15em;
    margin: 0 0 0 5px;
    float: none;
    display: inline-block;
}
.allErrorsDiv {
    color:#FF0000;
    font-family:Arial,Verdana,Helvetica,sans-serif;
    font-size:9pt;
    font-weight:bold;
    text-decoration:none;
    padding:1em 1em 0;
}

.allErrorsDiv ol {
    padding: 1em 1em 0 1em;
    list-style-type: disc;
}

.choiceStyle{
    float:left;
    margin-right:1em;
    margin-left:1em;
    width:20em;
    word-wrap:break-word;
}

.addTagStyle{
    float:left;
    margin-right:1em;
    margin-left:1em;
    width:10em;
    word-wrap:break-word;
}

.tagStyle{
    float:left;
    margin-right:1em;
    margin-left:1em;
    width:30em;
    word-wrap:break-word;
}

.removeStyle{
    float:left;
    margin-right:0em;
    margin-left:1em;
    width:5em;
    word-wrap:break-word;
}

.choiceHeaderStyle{
    background-color:#D7DEEE;
    border-top:1px solid #D7DEEE;
    font-family:Arial,Verdana,Helvetica,sans-serif;
    font-size:9pt;
    font-weight:bold;
    padding:2px 0px;
    text-decoration:none;
}

.choiceOlStyle{
    margin-left:6em;
    width:60%;
}

.buttonWidth{
    margin-left:10em;
    width:50%;
}

.noPadding{
    padding:0pt;
}

.validationErr{
	color:#FF0000;
	float:left;
}

.topRight{
    float:right;
    margin:0em;
}

.removeIMG {
	background:url(pages/framework/images/icon_remove.gif) no-repeat;
	width:10px;
	height:10px;
}
