body {margin:0px; background-color:#F2F2F2;}
a {
	text-decoration:underline; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	color:#000166;
}
a:visited{
	text-decoration:underline; 
}
a:hover {
	text-decoration:none;
}

.bglightblue{
	background-color:#D7DEEE;
}
.bgorange{
	background-color:#FF9600;
}
.bgwhite{
	background-color:#FFFFFF;
}
.bgorangeleft{
	background-color: #F2D1A6;
}
.leftpanehead{
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:#FF9600;
	text-decoration:none; 
	color:#FFFFFF;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.leftpanelinks{
	padding-left: 8px;
	padding-top: 15px;
	padding-bottom: 8px;
}
.fontnormalbold{
	text-decoration:none; 
	color:#000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}
.fontnormal{
	text-decoration:none; 
	color:#000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}
.fontnormal8pt{
	text-decoration:none; 
	color:#000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}

.fontnormal8pt a{
	text-decoration:underline; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	color:#000166;
}
.fontnormal8pt a:visited{
	text-decoration:underline; 
}
.fontnormal8pt a:hover{
	text-decoration:none; 
}
.fontnormal8ptbold{
	text-decoration:none; 
	color:#000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}
.headingorange{
	text-decoration:none; 
	color:#CC6601;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
}
.taborange{
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	background-color:#FF9600;
	text-decoration:none; 
	color:#FFFFFF;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}
.tablightorange{
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	background-color:#F2D1A6;
	text-decoration:none; 
	color:#000065;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}
.orangetableborder{
	border-left:1px #F0D4A5 solid;
	border-right:1px #F0D4A5 solid;
	border-bottom:1px #F0D4A5 solid;
}
.orangetablehead05{
	padding-left: 10px;
	padding-bottom: 4px;
	background-color:#F0D4A5;
	padding-top: 3px;

}

.bluetableborder{
	border-left:1px #D7DEEE solid;
	border-right:1px #D7DEEE solid;
	border-bottom:1px #D7DEEE solid;
}

.bluetablehead{
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid #D7DEEE;
	padding-right: 3px;


}
.bluetablehead05{
	padding-left: 10px;
	padding-bottom: 4px;
	background-color:#D7DEEE;
	padding-top: 3px;

}

.paddingleft{
	padding-top: 15px;

}
.paddingleft05{
	padding-left: 5px;
	padding-top: 5px;

}
.paddingleft05BottomBorder{
	padding-left: 5px;
	padding-top: 5px;
	border-bottom:1px #D7DEEE solid;
}
.paddingleft05BottomLeftBorder{
	padding-left: 5px;
	padding-top: 5px;
	border-bottom:1px #D7DEEE solid;
	border-left:1px #D7DEEE solid;
}

.buttn
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
    border-right: #926030 1px solid;
	border-bottom: #926030 1px solid;
	border-left: #C29F7C 1px solid;
	border-top: #C29F7C 1px solid;
    background-image: url(../images/buttons/buttonbg.jpg);
	background-repeat: repeat-x;
    cursor: pointer;
    height: 20px
}

.disabledbuttn
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #C6C6C6;
    border-right: #696969 1px solid;
	border-bottom: #696969 1px solid;
	border-left: #A2A2A2 1px solid;
	border-top: #A2A2A2 1px solid;
    background-image: url(../images/buttons/buttonbgcancel.jpg);
	background-repeat: repeat-x;
    cursor: pointer;
    height: 20px
}

.cancelbuttn
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
    border-right: #696969 1px solid;
	border-bottom: #696969 1px solid;
	border-left: #A2A2A2 1px solid;
	border-top: #A2A2A2 1px solid;
    background-image: url(../images/buttons/buttonbgcancel.jpg);
	background-repeat: repeat-x;
    cursor: pointer;
    height: 20px
}
.insidebuttn
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
    border-right: #696969 1px solid;
	border-bottom: #696969 1px solid;
	border-left: #A2A2A2 1px solid;
	border-top: #A2A2A2 1px solid;
    background-image: url(../images/buttons/buttonbgcancel.jpg);
	background-repeat: repeat-x;
    cursor: pointer;
    height: 17px
}
.insidebuttnRed
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #ffffff;
    border-right: #696969 1px solid;
	border-bottom: #696969 1px solid;
	border-left: #A2A2A2 1px solid;
	border-top: #A2A2A2 1px solid;
    background-image: url(../images/buttons/buttonbgred.jpg);
	background-repeat: repeat-x;
    cursor: pointer;
    height: 20px
}

.drawtable {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D7DEEE;
	border-bottom-color: #D7DEEE;
	border-left-color: #D7DEEE;

}
.drawtablehd {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
	background-color: #D7DEEE;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D7DEEE;

}
.drawtablerow {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D7DEEE;
}
.drawtablerowbold {

	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D7DEEE;
	vertical-align: top;
}
.drawtablerownoline {

	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.drawtablerowover {

	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFF9EE;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D7DEEE;
}
input {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}
select {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}

.heading {

	text-decoration:none; 
	color:#000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
}
.blueline {
	border-bottom:1px #D7DEEE solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;

}
.fontnormalboldorange {

	text-decoration:none; 
	color:#CC6601;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}
.fontnormal7pt {

	text-decoration:none; 
	color:#000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: normal;
}
.tableHeaderLightBrown{
	background-color: #F2D1A6;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 10px;
}
.tableContentLightBlue{
	background-color: #D7DEEE;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 10px;
}
.fontnormalorange {


	text-decoration:none; 
	color:#CC6601;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}
.fontnormalboldorangelight {


	text-decoration:none; 
	color:#F4CC9C;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}
.fontnormalboldgray {



	text-decoration:none; 
	color:#C6C6C6;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}
.paddingtop05 {
	padding-top: 5px;
}
.paddingleft05notop {
	padding-left: 5px;


}
.paddingleft1 {
	padding-top: 15px;
	padding-left: 10px;

}
.paddingleftmain {
	padding-top: 5px;
	padding-left: 15px;

}
.paddingleft03 {
	padding-top: 5px;
}
.paddingright03 {
	padding-top: 5px;
	padding-right: 5px;

}
.paddingbottom03 {
	padding-bottom: 3px;

}
.timelineboldorange {
	text-decoration:none;
	color:#CC6601;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 5px;


}
.timelineboldorangelight {
	text-decoration:none;
	color:#F4CC9C;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 3px;


}
.timelineboldgray {
	text-decoration:none;
	color:#C6C6C6;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 3px;

}
.paddingleftCreates {
	padding-top: 15px;
	padding-left: 30px;

}
.tabfontwhite {
	background-color:#FF9600;
	text-decoration:none; 
	color:#FFFFFF;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}
.headingblue {
	text-decoration:none; 
	color:#050259;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
}
.headingblue a{
	text-decoration:underline; 
}
.headingblue a:visited{
	text-decoration:underline; 
}
.headingblue a:hover{
	text-decoration:none; 
}
.paddingleft20notop {

	padding-left: 20px;
}
.paddingleft40notop {


	padding-left: 40px;
}
.fontnormalRed {

	text-decoration:none; 
	color:#FF0000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}
.fontnormalRedBold {


	text-decoration:none; 
	color:#FF0000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}
.paddingL30T15 {
	padding-top: 15px;
	padding-left: 30px;
}
.paddingL15T15 {
	padding-top: 15px;
	padding-left: 15px;
}
.paddingL10 {
	padding-left: 10px;
}
.bluetableborderFull {
	border: 1px solid #D7DEEE;

}
.drawtablerowboldnoline {


	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	vertical-align: top;
}
.drawtablehdorange {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
	background-color: #F0D4A5;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border: 1px solid #F0D4A5;

}
.drawtablerowSmall {

	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D7DEEE;
}
.drawtablerowboldSmall {


	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D7DEEE;
	vertical-align: top;
}

.drawtablerowboldnolinebg {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
	background-color: #D7DEEE;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	vertical-align: middle;
	height: 25px;

}
