@charset "utf-8";
/* CSS Document */
fieldset {
    float: left;
    width: 100%;
    margin: 0 0 1.5em 0;
    padding: 0;
    border: none;
}

fieldset ol {
    padding: 1em 1em 0 1em;
    list-style: none;
}

fieldset li {
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 1em;
}

fieldset.submit {
    width: auto;
    border: 0 none #FFF;
    padding-left: 15em;
}

label {
    float: left;
    width: 12em;
    margin-right: 1em;
    text-align: right;
}

.allErrorsDiv {
    color:#FF0000;
    font-family:Arial,Verdana,Helvetica,sans-serif;
    font-size:9pt;
    font-weight:bold;
    text-decoration:none;
    padding:1em 1em 0;
}

.allErrorsDiv ol {
    padding: 1em 1em 0 1em;
    list-style-type: disc;
}

input {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}

select {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}
