
		#container {
			width: 760px;
			\width: 780px;
			w\idth: 760px;
			margin: 10px;
			margin-left: auto;
			margin-right: auto;
			padding: 10px;		
	
		}

		#header {
			padding: 4px;
			margin-bottom: 5px;
			background-color: rgb(235, 235, 235);
			height: 20px;
			border: 1px solid gray;
			font: 100% Verdana, Tahoma, Arial, sans-serif;
		}

		a {
		color:#575757; 
		text-decoration:none;
		} 
		
		a:hover {
		color:#286ea0; 
		text-decoration:none;
		} 
				
		#body {
			padding: 5px;
			margin-left: 5px;
			margin-right: 5px;
			border: 1px solid gray;
			font: 90% Verdana, Tahoma, Arial, sans-serif;
		}

		#left {
			float: left;
			width: 150px;
			\width: 160px;
			w\idth: 150px;
			margin: 0;
			margin-right: 5px;
			padding: 3px;
			background-color: rgb(235, 235, 235);
			border: 1px solid gray;
			font: 90% Verdana, Tahoma, Arial, sans-serif;
		}

		#right {
			float: right;
			width: 150px;
			\width: 160px;
			w\idth: 150px;
			margin: 0;
			margin-left: 5px;
			padding: 3px;
			background-color: rgb(235, 235, 235);
			border: 1px solid gray;
			font: 75% Verdana, Tahoma, Arial, sans-serif;
		}

		#footer {
			clear: both;
			padding: 5px;
			margin-top: 5px;
			background-color: rgb(235, 235, 235);
			border: 1px solid gray;			
			font: 70% Verdana, Tahoma, Arial, sans-serif;
		}