<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <import resource="classpath:org/mifos/config/resources/configurationBean.xml" />
    <import resource="classpath:org/mifos/config/resources/messageSourceBean.xml" />
    <import resource="classpath:org/mifos/config/resources/financialRulesBean.xml" />
    <import resource="classpath:org/mifos/config/resources/persistenceContext.xml" />
    <import resource="classpath:org/mifos/config/resources/dataSourceContext.xml" />
    <import resource="classpath:org/mifos/config/resources/hibernate-daos.xml" />
    <import resource="classpath:org/mifos/config/resources/services.xml" />
    <import resource="classpath:org/mifos/config/resources/legacy-daos.xml" />
    <import resource="classpath:org/mifos/config/resources/legacy-services.xml" />
    <import resource="classpath:META-INF/spring/DbUpgradeContext.xml" />
    <import resource="classpath:org/mifos/config/reportParameterValidators.xml" />

    <bean id="applicationContextProvider" class="org.mifos.application.servicefacade.ApplicationContextProvider">
         <property name="applicationContextHolder" ref="applicationContextHolder" />
    </bean>

    <bean id="applicationContextHolder" class="org.mifos.application.servicefacade.ApplicationContextHolder"/>
    
    <bean id="messageSourceAccessor" class="org.springframework.context.support.MessageSourceAccessor">
        <constructor-arg ref="messageSource" />
    </bean>
    
    <bean id="userDetailsChecker" class="org.mifos.security.MifosUserDetailsChecker">
        <constructor-arg ref="messageSourceAccessor" />
    </bean>

</beans>