<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="configurationBean.xml" />
    <import resource="messageSourceBean.xml" />
    <import resource="financialRulesBean.xml" />
    <import resource="persistenceContext.xml" />
    <import resource="classpath*:org/mifos/**/dataSourceContext.xml" />
    <import resource="hibernate-daos.xml" />
    <import resource="services.xml" />
    <import resource="legacy-daos.xml" />
    <import resource="legacy-services.xml" />

    <bean id="applicationContextProvider" class="org.mifos.application.servicefacade.ApplicationContextProvider">
         <property name="applicationContextHolder" ref="applicationContextHolder" />
    </bean>
    
    <bean id="applicationContextHolder" class="org.mifos.application.servicefacade.ApplicationContextHolder"/>

</beans>