@charset "utf-8";
/* CSS Document */
fieldset {
    float: left;
    width: 100%;
    margin: 0 0 1.5em 0;
    padding: 0;
    border: none;
}

fieldset ol {
    padding: 1em 1em 0 1em;
    overflow: hidden;
    list-style: none;
}

ul.form_content, .form_content, ul.no_bullet {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

fieldset li, .form_content li {
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 1em;
}


fieldset.submit {
    width: auto;
    border: 0 none #FFF;
    padding-left: 15em;
}

fieldset label, .form_content li label {
    float: left;
    width: 25em;
    margin-right: 1em;
    text-align: right;
    word-wrap: break-word;
}
input.long_t_box, .long_t_box input[type="text"], .form_content select {
    width: 250px;
}
fieldset.right_section {
    margin: 0;
}
fieldset.right_section label{
    text-align: left;
    width: auto;
}

.allErrorsDiv {
    color:#FF0000;
    font-family:Arial,Verdana,Helvetica,sans-serif;
    font-size:9pt;
    font-weight:bold;
    text-decoration:none;
    padding:1em 1em 0;
}

.allErrorsDiv ol {
    padding: 1em 1em 0 1em;
    list-style-type: disc;
}
/* Table style */
.table_common {
    border-collapse: collapse;
    margin-bottom: 1em;
    width: 100%;
}
.table_common thead {
    background-color: #D7DEEE;
}
.table_common th, .table_common td{
    padding: 5px;
    border-bottom: 1px solid #D7DEEE;
}
.table_common .remove {
    width: 85px;
}
.table_common .mandatory {
    width: 100px;
}
.table_common .order {
    width: 70px;
}
.orderCenter {
    text-align: center;
}
.move {
    width: 70px;
    float: right; 
    padding: 5px
}
.table_common .status {
    width: 150px;
}
#choiceDiv .table_common {
    margin-top: 1em;
}
#choiceTagsDiv {
    margin-top: -1em;
}
#choiceTagsDiv .col4 .choice{
    width: 30%;
}
#choiceTagsDiv .col4 .tag{
    width: 20%;
}
#choiceTagsDiv .col4 .remove{
    width: 75px;
}
.question_list {
    margin-top: 1em;
}
.question_list .table_common .title {
    width: 40%;
}
.question_list .table_common .ans_type {
    width: 20%;
}
.question_list .table_common .choice {
    width: 20%;
}

li.question_list_table {
    margin-top: 1em;
}
.add_question .button_container{
    margin-left: 220px;
    text-align: left;
}
.questionList_box {
	position: relative;
    overflow: auto;
    width: 250px;
    height: 180px;
    border: 1px solid #336699;
    padding: 0;
    list-style: none;
}
.questionList_box li{
    padding-bottom: 3px
}
.questionList_box li input {
    float: left;
    top:0;
}
.questionList_box li label {
    text-align: left;
    width: 15em;
    margin: 0 0 0 5px;
    float: none;
    display: inline-block;
}


.buttonWidth{
    margin-left:10em;
    width:50%;
}

.noPadding{
    padding:0pt;
}

.validationErr{
	color:#FF0000;
	float:left;
}

.topRight{
    float:right;
    margin:0em;
}

.removeIMG {
	background:url(pages/framework/images/icon_remove.gif) no-repeat;
	width:10px;
	height:10px;
}

.showOnPage {
    text-align: center;
    width: 230px;
}

.isMandatory {
    text-align: center;
}

.question_row td {
    padding: 4px;    
}