<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- This MessageSource will load localized text from external
         resource bundle files  -->
    <bean id="messageSource"
        class="org.springframework.context.support.ResourceBundleMessageSource"
        abstract="false" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="basenames">
            <list>
                <value>org/mifos/config/localization/enumerations</value>
            </list>
        </property>
    </bean>

    <!-- Since MessageLookup is MessageSourceAware, the messageSource
         will be injected -->
    <bean id="messageLookup"
        class="org.mifos.application.master.MessageLookup"
        abstract="false" lazy-init="default" autowire="default"
        dependency-check="default"
        factory-method="getInstance">        
    </bean>

</beans>