<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- This MessageSource will load localized text from external
         resource bundle files  -->
    <bean id="messageSource"
        class="org.springframework.context.support.ResourceBundleMessageSource"
        abstract="false" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="basenames">
            <list>
                <value>org/mifos/config/resources/MessageLookupMessages</value>
            </list>
        </property>
    </bean>

    <!-- Since MessageLookup is MessageSourceAware, the messageSource
         will be injected -->
    <bean id="messageLookup"
        class="org.mifos.application.master.MessageLookup"
        abstract="false" lazy-init="default" autowire="default"
        dependency-check="default"
        factory-method="getInstance">        
    </bean>


    <bean id = "dynamicFinancialRules"
        class="org.mifos.application.accounts.financial.util.helpers.DynamicFinancialRules">        
        <property name="actionToGLCodeDebit">
            <map>
                <entry key="PRINCIPALPOSTING" value="11201"/>
                <entry key="INTERESTPOSTING" value="11201"/>
                <entry key="FEEPOSTING" value="11201"/>
                <entry key="PENALTYPOSTING" value="11200"/>
                <entry key="ROUNDING" value="31401"/>
                <entry key="MANDATORYDEPOSIT" value="11201"/>
                <entry key="VOLUNTORYDEPOSIT" value="11201"/>
                <entry key="MANDATORYWITHDRAWAL" value="24000"/>
                <entry key="VOLUNTORYWITHDRAWAL" value="23000"/>
                <entry key="SAVINGS_INTERESTPOSTING" value="41000"/>
                <entry key="DISBURSAL" value="13101"/>
                <entry key="MISCFEEPOSTING" value="11201"/>
                <entry key="MISCPENALTYPOSTING" value="11201"/>
                <entry key="CUSTOMERACCOUNTMISCFEESPOSTING" value="11201"/>
                <entry key="MANDATORYDEPOSIT_ADJUSTMENT" value="24000"/>
                <entry key="VOLUNTORYDEPOSIT_ADJUSTMENT" value="23000"/>
                <entry key="MANDATORYWITHDRAWAL_ADJUSTMENT" value="11201"/>
                <entry key="VOLUNTORYWITHDRAWAL_ADJUSTMENT" value="11201"/>
                <entry key="WRITEOFF" value="13201"/>
            </map>
        </property>
        <property name="actionToGLCodeCredit">
            <map>
                <entry key="PRINCIPALPOSTING" value="13100"/>
                <entry key="INTERESTPOSTING" value="31100"/>
                <entry key="FEEPOSTING" value="31300"/>
                <entry key="PENALTYPOSTING" value="31102"/>
                <entry key="ROUNDING" value="31401"/>
                <entry key="MANDATORYDEPOSIT" value="24000"/>
                <entry key="VOLUNTORYDEPOSIT" value="23000"/>
                <entry key="MANDATORYWITHDRAWAL" value="11201"/>
                <entry key="VOLUNTORYWITHDRAWAL" value="11201"/>
                <entry key="SAVINGS_INTERESTPOSTING" value="24100"/>
                <entry key="DISBURSAL" value="11201"/>
                <entry key="MISCFEEPOSTING" value="31301"/>
                <entry key="MISCPENALTYPOSTING" value="31102"/>
                <entry key="CUSTOMERACCOUNTMISCFEESPOSTING" value="31301"/>
                <entry key="MANDATORYDEPOSIT_ADJUSTMENT" value="11201"/>
                <entry key="VOLUNTORYDEPOSIT_ADJUSTMENT" value="11201"/>
                <entry key="MANDATORYWITHDRAWAL_ADJUSTMENT" value="24000"/>
                <entry key="VOLUNTORYWITHDRAWAL_ADJUSTMENT" value="23000"/>
                <entry key="WRITEOFF" value="13101"/>
            </map>
        </property>
    </bean>
    
</beans>